* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    width: 100%;
    height: 100%;
}

/* -----------------------------------------------Nav---------------------------------------------- */
/* nav start  */
.nav_Container {
    background-color: #252424;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;

    height: fit-content;
}

/* logo */
.Container_logo img {
    width: 120px;
}
#nav_logo{
    display: none;

}


/* logo done */
nav ol {
    margin: 4% 4%;
}

nav ol li{
    display: inline;
    padding-left: 25px;
    font-size: 2rem;
}

nav ol li a {
    color: white;
    text-decoration: none;
}

nav ol li a:hover {
    color: red;
}

/* ----------------------------------------end---------------------------------------------------- */
/* -------------------------------------------------Main_Container start------------------------------------------- */
/* main start  */
.Main_Container {
    display: grid;
    background-color: #252424;
    width: 100%;
    height: 100%;
    align-items: end;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.Main_Container_text {
    /* margin-top: 12%; */
    margin: 15% 12%;
    width: 90%;
    /* margin-left: 44px; */
}

#Main_Container_text1 {
    color: red;
    font-size: 2.6rem;
}

#Main_Container_text2 {
    color: white;
    font-size: 2.6rem;
}

#Main_Container_text3 {
    color: red;
    font-size: 2.6rem;
}

#Main_Container_text4 {
    color: white;
    font-size: 1.2rem;
}

.Main_Container_img img {
    height: 90%;
    width: 90%;
}

#img2 {
    display: none;
}

#img1 {
    display: none;
}

#img2 {
    display: block;
}

.Main_Container_img {
    /* margin-left:; */
    display: inline;
    /* margin-left: 50%; */
    margin-top: 3px;
    width: 50%;
    height: fit-content;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: auto;
}

.btn_red:hover {
    box-shadow: 1px 2px 3px 4px red;
    border: 2px solid rgb(119, 26, 26);
}

.btn_red {
    display: inline;
    margin-top: 15px;
    margin-left: 12px;
    text-decoration: none;
    border-radius: 12px;
    border: 1px solid red;
    background-color: #252424;
    border-color: red;
    width: 125px;
    font-weight: bolder;
    font-size: medium;
    color: rgb(204, 188, 188);
    height: 50px;
    cursor: pointer;
}

.btn_gray {
    display: inline;
    flex-direction: row;
    border-radius: 12px;
    background-color: #851e83;
    margin-left: 8px;
    width: 125px;
    color: rgb(246, 246, 246);
    height: 50px;
}

.container {
    flex-direction: row;
    display: flex;
    width: 100%;
    height: 100%;
}

.box {
    flex-direction: column;
    width: 80%;
    margin: 2% 2%;
    background-color: #fff;
    height: 100%;
    box-shadow: 0px 0px 18px rgb(203, 196, 196);
    border-radius: 4%;
}

.box img {
    border-radius: 4%;
    width: 100%;
    height: 18rem;
    display: flex;
}

.Service {
    background-color: rgb(240, 240, 218);
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* ------------------------------------------------end ----------------------------------------------- */
/* main_social media done  */
/* ------------------------------------------------Footer start*/
footer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 40vh;
    background-color: #252424;
    justify-content: center;
}

#line {
    color: aqua;
    background-color: red;
    width: 100vw;
}

.footer_txt {
    color: white;
    flex-direction: row;
    align-items: center;
    display: flex;
    font-size: medium;
}

.footer_logo img {
    margin-right: 18px;
}

/* footer home , view , copyright  */
.footer_li {
    display: flex;
    float: right;
    margin-right: 65px;
    margin-top: 12px;
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.footer_li ol li {
    display: inline;
    font-family: 'Pacifico', cursive;
    margin-right: 18px;
    color: white;
    font-size: 12px;
}

.footer_li a {
    text-decoration: none;
}

.footer_li ol li:hover {
    color: red;
}

/* end  */
/* Mob_social_media_hide  */
.Social_Media_Container img {
    display: none;
}

/* -----------------------------------------------end------------------------------------------------ */
/* ___________________________________________________Mob & Tablet____________________________________________-
.project {
    margin: 12px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}
.image_container img {
    width: 31vw;
    height: 200px;
    margin-left: 5px;
}
/* Tablet */
/*
/* _______________________________________________ end _________________________________________ */
@media screen and (max-width: 850px) {

    /* About me and download cv hide  */
    /* nav start  */
    .nav_Container {
        /* background-color: #252424;  */
        background-color: black;
        /* display: none; */
        align-items: center;
        justify-content: center;
        height:auto;
        position: absolute;
        z-index: 6;
    }

    #nav_li{
        display: none;
    }

    .full-width{
        width: 0;
    }

.mob_nav{
    display: flex;
    padding: 0px 18px;
    align-items: center;
    justify-content: space-between;
    top: 0;
    position:absolute;
    width: 100%;
    height: auto;
}


.mob_nav i {
    color: aqua;
    
}



#nav_logo{
     width: 85px;
     display: block;

}

    #nav-btn{
      color: rgb(243, 233, 233);
      font-size: 20px;
      border: 2px solid red;
      padding: 12px 12px;
      height: 45px;
      top: 0;
      align-items: center;
    }

   
    .Main_Container {
    position: relative;
    padding-top: 10%;
}


   
    .Container_logo {
        align-items: center;
    }

    .Container_logo img {
        display: none;
    }
nav ol  {
 display: flex;
 flex-direction: column;
 gap: 10px;
 align-items: center;
      
    }
    nav ol{
     
        justify-content: right;
        float: right;
        align-items: center;
        /* display: none;  */
        margin: 0 auto;
    }

    nav ol li {
        font-size: 2em;
    } 

    /* nav done  */
    .Main_Container_text {
        margin: 5% auto;
    }

    .Main_Container_img img {
        /* I set height for my img  */
        height: 355px;
        width: 400px;
        display: inline;
        align-items: center;
        align-self: center;
        /* width:auto; */
    }

    /* main container text start */
    #Main_Container_text1 {
        color: red;
        font-size: 1.5rem;
    }

    #Main_Container_text2 {
        font-size: 1.8rem;
    }

    #Main_Container_text3 {
        font-size: 1.3rem;
    }

    #Main_Container_text4 {
        font-size: 0.9rem;
    }

    .btn_red {
        display: inline;
        font-size: 0.8rem;
        margin-top: 15px;
        margin-left: 6px;
        border-radius: 12px;
        border: 2px solid red;
        background-color: #252424;
        border-color: red;
        width: 95px;
        color: rgb(204, 188, 188);
        height: 35px;
    }

    /* nav done  */
    /* Main_Container_text done   */
    /* social media link here */
    .Social_Media_Container {
        display: flex;
        margin-left: 40%;
        margin-right: 50%;
        margin-bottom: 20px;
    }

    .Social_Media_Container img {
        background-color: wheat;
        animation: logo 2s infinite;
        display: block;
        width: 38px;
        border-radius: 52%;
        margin-right: 10px;
    }

    @keyframes logo {
        0% {
            box-shadow: 1px 1px 1px 1px white;
        }

        50% {
            box-shadow: 2px 2px 2px 2px white;
        }

        100% {
            box-shadow: 3px 3px 3px 3px white;
        }
    }

    .Social_Media_Container img:hover {
        background-color: red;
        border-radius: 48%;
        box-shadow: 3px 3px 3px 3px red;
    }

    /* container  */
    .container {
        flex-direction: column;
    }

    .box {
        flex-direction: column;
        width: 80%;
        margin: 7% 10%;
    }

    .box>h3 {
        font-style: italic;
    }

    .footer_logo {
        display: flex;
        width: 100%;
    }

    .footer_logo img {
        width: 125px;
    }

    .footer_txt {
        color: white;
        display: block;
        font-size: small;
    }

    .footer_li {
        margin: 0;
    }

    .footer_li ol li {
        /* font-size: small; */
        font-size: xx-small;
        margin-right: 1px;
    }

    hr {
        color: black;
    }
}

/* Mobile  */
@media screen and (max-width: 676px) {


   
    
    .Main_Container {
        display: grid;
        background-color: #252424;
        width: 100%;
        height: 100%;
        align-items: end;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .Main_Container_img {
        /* I set height for my img  */
        margin: 0 10%;
        height: fit-content;
        background-color: #252424;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
    }

    .Main_Container_img img {
        /* I set height for my img  */
        height: 200px;
        width: 250px;
        display: inline;
        align-items: center;
        align-self: center;
        /* width:auto; */
    }

    #img1 {
        border-radius: 2%;
        margin-top: 8%;
        display: block;
    }

    #img2 {
        display: none;
    }

    /* main container text start */
    .Main_Container_text {
        /* margin: auto auto; */
        grid-row-start: 2;
        grid-column-start: 1;
        margin: 2% 2%;
        width: 93%;
    }

    section {
        width: fit-content;
        height: fit-content;
    }

    #Main_Container_text1 {
        color: red;
        width: fit-content;
        font-size: 1.5rem;
        margin-left: 2%;
        margin-top: 0px;
        display: block;
    }

    #Main_Container_text2 {
        font-size: 2rem;
        display: block;
        width: fit-content;
        margin-left: 1.7%;
    }

    #Main_Container_text3 {
        font-size: 1.4rem;
        margin-left: 2%;
        display: block;
        width: fit-content;
    }

    #Main_Container_text4 {
        font-size: 0.8rem;
        display: inline;
        width: fit-content;
    }

    footer {
        display: flex;
    }
}