* {
    margin: 0;
    padding: 0;
}

/* -----------------------------------------------Nav---------------------------------------------- */
/* nav start  */
.nav_Container {
    display: flex;
    background-color: #252424;
    width: 100vw;
    height: fit-content;
}

/* logo */
.Container_logo img {
    width: 120px;
    display: inline;
    margin-top: 3px;
}

/* logo done */
.Container_li {
    margin-left: auto;
    margin-top: 45px;
    margin-right: 150px;
}

.Container_li li {
    display: inline;
    padding-left: 25px;
    font-size: x-large;
}

.Container_li li a {
    color: white;
    text-decoration: none;
}

.Container_li li a:hover {
    color: red;
}

main {
    background-color: #252424;
    width: 100vw;
    height: 100%;
    display: flex;
}

.contact_us {
    display: flex;
    height: 110%;
    width: 100%;
    margin: 85px 85px;
    border-radius: 2%;
    align-items: center;
    font-size: xx-large;
    box-shadow: 0px 20px 100px;
}

.image {
    width: fit-content;
    align-items: center;
    display: flex;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.image img {
    width: 100%;
    height: 200px;
    border-radius: 50%;
}

.info {
    text-align: center;
    width: 100%;
}

.info h3 {
    color: white;
    font-size: 25px;
}

.logo {
    align-items: center;
    margin-left: 15%;
}

.logo img {
    width: 45px;
    display: inline;
    background-color: wheat;
    border-radius: 50%;
}

footer {
    margin-top: 0px;
    width: 100vw;
    height: 40vh;
    background-color: #252424;
}

#line {
    color: aqua;
    background-color: red;
    width: 100vw;
}

.footer_txt {
    color: white;
    flex-direction: row;
    align-items: center;
    display: flex;
    font-size: medium;
}

.footer_logo img {
    margin-right: 18px;
}

/* footer home , view , copyright  */
.footer_li {
    display: flex;
    float: right;
    margin-right: 65px;
    margin-top: 12px;
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.footer_li ol li {
    display: inline;
    font-family: 'Pacifico', cursive;
    margin-right: 18px;
    color: white;
    font-size: 12px;
}

.footer_li a {
    text-decoration: none;
}

.footer_li ol li:hover {
    color: red;
}

/* ----------------------------------------end---------------------------------------------------- */
@media screen and (max-width: 856px) {

    /* nav start  */
    .nav_Container {
        display: flex;
        position: fixed;
        background-color: #252424;
        width: 100vw;
        height: fit-content;
        position: fixed;
    }

    /* logo */
    .Container_logo img {
        width: 85px;
    }

    .Container_logo {
        margin-bottom: 28px;
        height: 0;
    }

    .Container_li {
        display: flex;
        height: fit-content;
    }

    .Container_li ol {}

    .Container_li ol li {
        font-size: 100%;
    }

    .contact_us {
        height: fit-content;
        width: 100%;
        margin: 85px 20px;
        margin-top: 205px;
        border-radius: 4%;
        align-items: center;
        font-size: xx-large;
        box-shadow: 4px 15px 95px;
        transform: 2s;
    }

    .image {
        width: fit-content;
        align-items: center;
        display: flex;
        margin-bottom: 22px;
    }

    .image img {
        width: auto;
        height: 190px;
        border-radius: 50%;
    }

    .info {
        text-align: center;
        width: 100%;
    }

    .info h3 {
        color: white;
        font-size: 70%;
        margin-bottom: 25px;
    }

    .logo {
        align-items: center;
        margin-left: 0px;
    }

    .logo img {}

    /* nav done  */
    footer {
        flex-direction: column;
        width: 100vw;
    }

    .footer_logo {
        display: flex;
        align-items: center;
        background-color: brown;
    }

    .footer_logo img {}

    /* social media link here */
    .Social_Media_Container {
        display: flex;
        margin-left: 40%;
        margin-right: 50%;
        margin-bottom: 20px;
    }

    .Social_Media_Container img {
        background-color: wheat;
        animation: logo 2s infinite;
        display: flex;
        align-items: center;
        width: 45px;
        border-radius: 52%;
        margin-right: 10px;
    }

    @keyframes logo {
        0% {
            box-shadow: 1px 1px 1px 1px white;
        }

        50% {
            box-shadow: 2px 2px 2px 2px white;
        }

        100% {
            box-shadow: 3px 3px 3px 3px red;
            background-color: red;
        }
    }

    .footer_txt {
        color: white;
        display: block;
        font-size: small;
    }

    .footer_li {
        margin: 0;
    }

    .footer_li ol li {
        /* font-size: small; */
        font-size: xx-small;
        margin-right: 1px;
    }
}

@media screen and (max-width: 482px) {

    /* About me and download cv hide  */
    /* nav start  */
    /* nav start  */
    .nav_Container {
        display: flex;
        position: fixed;
        flex-direction: column;
        background-color: #252424;
        width: 100vw;
        height: fit-content;
        align-items: center;
    }

    /* logo */
    .Container_logo img {
        width: 85px;
    }

    .Container_logo {
        margin-bottom: 28px;
        height: 0;
    }

    .Container_li {
        display: flex;
        width: 100%;
        align-items: center;
        text-align: center;
        height: fit-content;
        align-items: center;
    }

    .Container_li ol {
        width: 865px;
    }

    .Container_li ol li {
        text-align: center;
        font-size: 10px;
    }
}