
<nav class="nav_Container flex">
    <script src="../JS/script.js" defer></script>
    <span></span>
    <div class="Container_logo flex">
        <img src="./Assets/Image/logo (2).webp" />
    </div>

    <ol id="nav_li">
        <li class="nav_li"><a href="index.html">Home</a></li>
        <li class="nav_li"><a href="#page-2">About</a></li>
        <li class="nav_li"><a href="./Project/project.html">Project</a></li>
        <li class="nav_li">
            <a href="./Contact us/contact.html">Contact us</a>
        </li>
        <li class="nav_li"><a href="./Blogs/blog.html">Blogs</a></li>
    </ol>

    <div class="mob_nav">
        <img src="./Assets/Image/logo (2).webp" id="nav_logo" />
        <i class="fa-solid fa-bars" id="nav-btn"></i>
    </div>
</nav>
