
<nav>
    <div id="left-nav">
        <h1>Developer Abhishek</h1>
    </div>

    <div id="center-nav">
        <ol>
            <li><a href="../index.html">Home</a></li>
            <li><a href="../Pages/view.html">View</a></li>
            <li><a href="../Pages/gallary.html">Gallery</a></li>
        </ol>
    </div>

    <div id="right-nav">

    </div>
</nav>

<style>
    nav {
  width: 100vw;
  height: 12vh;
  background-color: #100202;
  position: fixed;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 8;
}
nav ol{
    display: flex;
    gap: 25px;

}

nav ol li{
    display: inline;

}


nav ol li a{
    text-decoration: none;
    color: red;
   

}
</style>