* {
  margin: 0;
  padding: 0;
  /* z-index: 0; */
}

html,
body {
  width: 100%;
  height: 100%;
  /* box-sizing: border-box; */
}
nav {
  width: 100vw;
  height: 8vh;
  background-color: #0b0202;
  position: fixed;
  z-index: 8;
}
main {
  width: 100vw;
  background-color: #0c0a0a;
}
#page1 {
  width: 100%;
  position: relative;
  height: 100vh;
}

#page1 .second-layer img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

#page1 .first-layer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
  font-family: Futura;
}

#page1 .first-layer h1 {
  position: relative;

  line-height: 2;
}

#page1 .first-layer h1::selection {
  color: white;
  background-color: black;
}
#page1 .first-layer h1::before {
  position: absolute;
}

#page2 {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  position: relative;
}

.about {
  background-color: rgb(64, 205, 64);
  background: url(../Image/Aboutbg1.png),
    rgb(111, 232, 6) 0% 0% / 100px 100px repeat;
  width: 100%;
  height: 12vh;
  font-size: 2rem;
  position: absolute;
  top: 88%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

#about-me {
  height: 60vh;
  width: 100%;
  padding: 65px 0px;
  display: flex;
  justify-content: center;
  z-index: 1;
  display: flex;
  background: transparent;
}
#page2 .left {
  width: 25vw;
  display: flex;
  align-items: center;

  justify-content: center;
  /* background-color: ; */
  height: 100%;
}

#page2 .left img {
  width: 311px;
  height: 373px;
  margin-left: 35px;

  object-fit: cover;
}
#page2 .right img {
  width: 350px;
  height: 283px;

  margin-left: 35px;
  border-radius: 2%;
  object-fit: cover;
}

#page2 .right {
  width: 25vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page2 .bootom {
  width: 45vw;
  height: 100%;
  font-size: 2rem;

  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

#page2 .bootom p {
  margin: 12px 35px;
  text-transform: lowercase;
  /* z-index: 1; */
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#page3 {
  width: 100%;
  height: 200vh;
  padding: 65px 0px;
}

#page3 h3 {
  color: white;
  font-size: 5rem;
  text-align: center;
  width: 95%;
  line-height: 0.8;

  font-family: Futura;
  mix-blend-mode: difference;
  -webkit-text-stroke: 2px rgb(229, 221, 221);
}

.img-container {
  height: 50vh;
  position: relative;
  display: flex;
  border: 4px solid white;
  width: 100%;
  display: flex;
  align-items: center;
}

.img-container img {
  width: 500px;
  height: 100%;
  position: absolute;

  object-position: center;
  object-fit: cover;
}

.img-container h3 {
  color: white;
  font-size: 5rem;
  width: 95%;

  position: absolute;
  font-family: Futura;
  mix-blend-mode: difference;
  -webkit-text-stroke: 2px rgb(229, 221, 221);
}

#page4 {
  height: 150vh;
  width: 100%;
  display: flex;
  gap: 65px;
  flex-direction: column;
  position: relative;
  padding: 0px 65px;
}

#page4 div {
  /* position: absolute; */
  /* transform: translate(-50% , -50%); */
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 65px;
  display: flex;
  font-size: 3rem;
}

#page4 div h5 {
  font-size: 2.2rem;
  padding: 35px 35px;
  background-color: #34ac20;
  border-radius: 20px;
  color: white;
}
#page4 span {
  display: block;
  font-size: 8rem;

  color: white;
  font-style: normal;
  font-weight: 800;
}
