* {
  margin: 0;
  padding: 0;
  color: #faf2f2;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  width: 100vw;
  height: auto;
  background-color: black;
}

#page1 {
  height: 200vh;
  width: 100vw;
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  position: relative;
}

h3 {
  text-align: center;
  position: static;
  top: 20%;
  margin-top: 12vh;
  font-size: 18vw;
  font-family: "Futura";
  color: white;
  z-index: 1;
}

#Page1_img {
  /* z-index: 2; */
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  /* background-color: aqua; */
  height: 80%;
  /* background-color: aqua; */
}

#Page1_img img {
  display: flex;
  align-items: center;
  justify-content: center;
  image-orientation: flip;
  width: 100%;
  height: 50%;
  image-rendering: pixelated;

  object-fit: contain;
}
#page2 {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;

}

.image_container{
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 60px 0px;

}

.jcl{
  justify-content: flex-end;
}



.left{
  left: 10%;
}

#page2 img {
object-fit: contain;
width: 45vw;
height: 100vh;
}

