* {
  margin: 0;
  padding: 0;

  color: white;
  /* font-family: Futura; */
  /* z-index: 0; */
}

html,
body {
  width: 100%;

  /* box-sizing: border-box; */
}





main {

  background-color: #0c0a0a;

}

#cursor {
  position: fixed;
  width: 35px;
  border-radius: 50%;
  height: 35px;
  background-color: rgb(7, 240, 7);

  z-index: 99;
  /* transition: all ease-in-out 0.5; */
  /* display: none; */
  opacity: 0.8;
  /* transform: translate(-10% , -50%); */
}

#blue{
  position: fixed;
  width: 350px;
  border-radius: 50%;
 transform: translate(-50% , -50%);
  height: 350px;
  transition: all ease-in-out 0.5;
  background-color: rgb(7, 240, 7);
 z-index: 1;
 opacity: 0.5;
 display: none;
  filter: blur(30px);


}

#page1 {
  width: 100%;
  height: 80vh;

  display: flex;
  justify-content: space-between;
  position: relative;
}

#page1 img {
  width: 100%;
  height: 80%;
  z-index: 2;
}

#page1 .left {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px 65px;
  height: 100%;
}

#page1 .left #text {
  /* line-height: 5vh; */
  margin-top: 15vh;
}

#page1 .left #text h2 {
  font-size: 2rem;
  font-family: Futura;
  margin-bottom: 12px;
}

#page1 .left #text p {
  font-size: 1rem;
  font-family: Arial;
}

#page1 .left button {
  position: relative;
  overflow: hidden;
  margin-top: 12px;
  margin-left: 8px;
  padding: 12px 35px;
  font-size: 1rem;
  border-radius: 20px;
  border: 2px solid red;
  background-color: transparent;
  color: #ce0b0b;
}

#page1 .left button::after {
  position: absolute;
  content: "";
  left: 0;
  z-index: -1;
  transition: all ease-in-out 0.5s;
  height: 80px;
  width: 180px;
  top: 120%;
}

#page1 .left button:hover::after {
  top: 0;
  background-color: rgb(248, 9, 9);
}

#page1 .left #text span {
  color: red;
}

#page1 .right {
  width: 50%;
  display: flex;
  padding: 0px 85px;
  align-items: end;
  /* background-color: #3dcd09; */
  height: 100%;
}

#page2 {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  position: relative;
}

.about {
  background-color: rgb(64, 205, 64);
  background: url(../Image/Aboutbg1.png),
    rgb(111, 232, 6) 0% 0% / 100px 100px repeat;
  width: 100%;
  height: 12vh;
  font-size: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

#about-me {
  height: 60vh;
  width: 100%;
  padding: 65px 0px;
  display: flex;
  justify-content: center;
  z-index: 1;
  display: flex;
  background: transparent;
}

#page2 .left {
  width: 25vw;
  display: flex;
  align-items: center;

  justify-content: center;
  /* background-color: ; */
  height: 100%;
}

#page2 .left img {
  width: 311px;
  height: 373px;
  margin-left: 35px;

  object-fit: cover;
}



#page2 .right img {
  width: 350px;
  height: 283px;

  margin-left: 35px;
  border-radius: 2%;
  object-fit: cover;
}

#page2 .right {
  width: 25vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page2 .bootom {
  width: 45vw;
  height: 100%;
  font-size: 2rem;

  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

#page2 .bootom p {
  margin: 12px 35px;
  text-transform: lowercase;
  /* z-index: 1; */
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#page3 {
  width: 100%;
  height: 160vh;
  position: relative;
  padding: 65px 0px;
}

#page3 h3 {
  color: white;
  font-size: 5rem;
  text-align: center;
  width: 95%;
  line-height: 0.8;
z-index: 2;
  font-family: Futura;
  mix-blend-mode: difference;
  -webkit-text-stroke: 2px rgb(229, 221, 221);
}

.img-container {
  height: 50vh;
  position: relative;
  display: flex;
  border: 4px solid white;
  width: 100%;
  display: flex;
  align-items: center;
}



.img-container img {
  width: 500px;
  height: 100%;
  position: absolute;
z-index: 2;
  object-position: center;
  object-fit:cover;
}

.img-container h3 {
  color: white;
  font-size: 5rem;
  width: 95%;

  position: absolute;
  font-family: Futura;
  mix-blend-mode: difference;
  -webkit-text-stroke: 2px rgb(229, 221, 221);
}

#page4 {
  height: 80vh;
  font-family: Helvetica;
  width: 100%;
  display: flex;
  gap: 65px;
  position: relative;

}

#page4 h5 {
  margin: 12px 0px;

}



#page4 .right h2 {
  font-size: 2rem;
  margin: 15px 0px;
  position: relative;

}

#page4 .right h2::after {
  position: absolute;
  top: 0;
  left: -2%;
  content: "";
  width: 2px;
  background-color: #ce0b0b;
  height: 79px;
}


#page4 .left {
  width: 50%;
  height: 96%;
  align-items: center;
  display: flex;
  justify-content: start;
}

#page4 .right {

  height: 100%;
  display: flex;

  margin-left: 10%;
  justify-content: center;
  flex-direction: column;
  color: white;
}


#page4 video {
  height: 125px;
  width: 100%;
  object-fit:contain;
 border-radius: 50%;
 /* display: none; */

}


#skill-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#skill-container .myskill {
  background-color: rgb(7, 240, 7);
  width: 400px;
  height: 20px;
  display: flex;
}

#skill-container .skill-range {
  display: flex;
  height: 100%;
  justify-content: end;
  background-color: red;
}


#page5 {
  height: 200vh;
  position: relative;
  width: 100%;
  /* background-color: #ce0b0b; */
}


#page5 .left,
.right {
  width: 50%;
  height: 100%;
}

#page5 .left {
  display: flex;
  align-items: center;
}

#page5 .right {
  display: flex;
 justify-content: end;


 align-self: start;
}

#page5 .right span{
  display: flex;
  margin-top: 5%;
  margin-right: 5%;
  flex-direction: column;

}

#page5 .right span h3{
 
  font-size: 1.5rem;
}

#page5 .right span p{
 
  font-size: 1rem;
  text-align: right;
}


#page5 .left h2 {
  margin-left: 5vw;
  font-family: Futura;
  position: relative;
}

#page5 .left h2::after {
  position: absolute;
  content: "";
  left: -10%;
  top: -5%;
  height: 34px;
  width: 4px;
  background-color: rgb(64, 205, 64);

}

#page5 .top {
  display: flex;
  margin-left: 5%;
  justify-content: space-between;
  width: 90%;
  align-items: end;


  margin-bottom: 1px;
  /* border-bottom: 1.5px solid white; */
  /* background-color: rgb(186, 137, 11); */
  height: 5%;
}

.myachivement {
  height: 40vh;
  display: flex;
  border-top:2px solid white ;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid white;

}

#page5 .top h2 {
  position: relative;
  font-size: 2rem;

}

#page5 .top h2::after {
  position: absolute;
  content: "";
  left: -10%;
  top: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
}

.container {
  display: flex;
  flex-direction: column;
}

#image {
  width: 35vw;
  background-image: url('../Image/Hacking.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  z-index: 2;
  position: fixed;
  left: 40%;
  top: 20%;
  display: none;
  background-color: transparent;
  height: 60vh;
}





























@media screen and (max-width:500px){

  #cursor {
     display: none;
   
  }
  nav {

      height: 7vh;
      width: 100vw;
  }


  nav ol li {
      display: none;
}

  #page1 {
    
      flex-direction: column-reverse;
     height: 95vh;
     
    }
    
    #page1 img {
      width: 75%;
      border-radius: 50%;
      border: 3px solid #34ac20;
       margin-top: 15vh;
      height: 100%;
     animation-name: anim1;
     animation-duration: 2s;
     animation-iteration-count: infinite;
     transition: all ease-in-out 0.2s;

    }

    @keyframes anim1 {
      0%{
        border: 1px solid #34ac20; 
      }

      50%{
        border: 2px solid #34ac20; 
      }
      80%{
        border: 3px solid #34ac20; 
      }
      100%{
        border: 4px solid #34ac20; 
      }
      
    }

    
    #page1 .left {
      flex-wrap: wrap;
       width: 90%;
      padding: 0px 10px;
      justify-content:start;
      flex-direction: column;

      height: 50%;
    }
    

    #page1 .right {
width: 100%;
display: flex;
justify-content: center;
height: 40%;
margin-top: 13vh;
padding: 0px 0px;

    }
    
    #page1 .left #text {
      /* line-height: 5vh; */
      margin-top: 5vh;
      width: 85%;
      display: flex;
  flex-direction: column;
  flex-wrap: wrap;
    }
    
    #page1 .left #text h2 {
      font-size: 1.5rem;
      font-family: Futura;
      margin-bottom: 12px;
    }
    
    #page1 .left #text p {
      font-size: 0.8rem;
      font-family: Arial;
    }
    
    #page1 .left button {
     
      margin-top: 12px;
      margin-left: 8px;
      padding: 10px 20px;
      font-size: 1rem;
      border-radius: 20px;
      border: 2px solid red;
      background-color: transparent;
      color: #ce0b0b;
    }
    #about-me {
      height:100%;
      width: 100%;
      flex-direction: column-reverse;
      padding: 0px 0px;

 
   
  }

    #page2 .bootom {
      width: 100%;
      height: 100%;
      font-size: 1rem;
    
      
     
      justify-content: center;
      font-family: Arial, Helvetica, sans-serif;
  }
    

  #page2 .left {
      width: 95%;
  

      height: 100%;
  }


  #page2 .right {
      width: 100%;
  

      height: 100%;
  }




  #page2 .right img {
      width: 50%;
      height: auto;
      position: absolute;
      left: 0;
      margin-left: 0px;
      margin-left: 12px;
      border-radius: 2%;
      object-fit:contain;
  }

  #page2 .left img {
      width: 50%;
      height: auto;
      position: absolute;
      right: 0;
      margin-left: 0px;
      margin-top: 20px;
      margin-right: 12px;
      border-radius: 2%;
      object-fit:contain;
  }

  #page3{
    overflow: hidden;

  }

  .img-container img {
      width: 100%;
      height: 100%;
      position: absolute;
      object-position: center;
      object-fit:contain;
  }


  #page4 {
    height: 70vh;

    width: 100%;
    flex-direction: column;
    display: flex;
    gap: 65px;

}

#page4 .left {

  display: none;
 

}

#page4 .right {
width: 90%;




}

#skill-container{
width: 100vw;
height: 15vh;




}
#skill-container .myskill {
width: 95%;


}


#skill-container div {
  width: 90%;


  }
/*  Page 5 Start */
#page5 .top h2 {
position: relative;
font-size: 1rem;
margin-left: 12px;
}

#page5 .left h2 {
font-size: 1.2rem;
margin-left: 15px;
}


#page5 .left  {
width: 40%;

}

#page5 .right  {
width: 100%;
margin-left: 5%;
}

#page5 .right span {
width: 100%;
display: flex;
align-items: end;

}

#page5 .left h2::after {


left: -5%;
top: -15%;
height: 80px;
width: 4px;
background-color: rgb(64, 205, 64);
}

#image {
width: 0vw;
display: none;
height: 0vh;
}


}