.first-layer {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
}

.second-layer {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.third-layer {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
}

.acenter {
  align-items: center;
}
.f-row {
  flex-direction: row;
}

.f-col {
  flex-direction: column;
}

.right0 {
  right: 0;
}

.left0 {
  left: 0%;
}
