* {
    margin: 0;
    padding: 0;
}

/* -----------------------------------------------Nav---------------------------------------------- */
/* nav start  */
.nav_Container {
    display: flex;
    background-color: #252424;
    width: 100vw;
    height: fit-content;
}

/* logo */
.Container_logo img {
    width: 120px;
    display: inline;
    margin-top: 3px;
}

/* logo done */
.Container_li {
    margin-left: auto;
    margin-top: 45px;
    margin-right: 150px;
}

.Container_li li {
    display: inline;
    padding-left: 25px;
    font-size: x-large;
}

.Container_li li a {
    color: white;
    text-decoration: none;
}

.Container_li li a:hover {
    color: red;
}

main {
    background-color: #252424;
    width: 100vw;
    height: 100%;
    display: flex;
}

.contact_us {
    display: grid;
    height: fit-content;
    width: 70vw;
    margin: 85px 85px;
    /* grid-template-rows: repeat(1, 1fr); */
    grid-template-columns: repeat(1, 1fr);
    height: 345px;
    box-shadow: 2px 2px 2px 2px red;
}

.container {
    width: 100%;
    background-color: brown;
    align-items: center;
}

.image {
    display: flex;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    height: fit-content;
    background-color: blueviolet;
    align-items: center;
    margin: 16px 2px;
    box-shadow: 2px 2px 2px 2px wheat;
    border-radius: 50%;
}

.image img {
    width: auto;
    height: 165px;
    align-items: end;
    border-radius: 50%;
}

.info {
    align-items: center;
    text-align: center;
    width: 100%;
    /* grid-column-start: 1; */
    /* grid-column-end: 3; */
}

.info h3 {
    color: white;
    font-size: 25px;
}

.logo {
    grid-column-start: 1;
    grid-row-start: 3;
    align-items: center;
    margin-left: 15%;
}

.logo img {
    width: 45px;
    display: inline;
    background-color: wheat;
    border-radius: 50%;
    grid-row-start: 3;
}

footer {
    margin-top: 0px;
    width: 100vw;
    height: 40vh;
    background-color: #252424;
}

#line {
    color: aqua;
    background-color: red;
    width: 100vw;
}

.footer_txt {
    color: white;
    flex-direction: row;
    align-items: center;
    display: flex;
    font-size: medium;
}

.footer_logo img {
    margin-right: 18px;
}

/* footer home , view , copyright  */
.footer_li {
    display: flex;
    float: right;
    margin-right: 65px;
    margin-top: 12px;
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.footer_li ol li {
    display: inline;
    font-family: 'Pacifico', cursive;
    margin-right: 18px;
    color: white;
    font-size: 12px;
}

.footer_li a {
    text-decoration: none;
}

.footer_li ol li:hover {
    color: red;
}

/* ----------------------------------------end---------------------------------------------------- */
@media screen and (max-width: 855px) {

    /* About me and download cv hide  */
    /* nav start  */
    .nav_Container {
        display: flex;
        background-color: #252424;
        width: 100vw;
        height: fit-content;
    }

    .Container_logo {
        width: 0px;
        background-color: blue;
    }

    .Container_logo img {
        width: 60px;
        margin-bottom: 8px;
        display: inline;
    }

    .Container_li li {
        font-size: 30%;
    }

    /* nav done  */
    footer {
        width: 100vw;
        height: 40vh;
    }

    .footer_logo {
        display: flex;
        align-items: center;
    }

    .footer_logo img {
        margin-left: auto;
        margin-right: auto;
    }

    .footer_txt {
        color: white;
        display: block;
        font-size: small;
    }

    .footer_li {
        margin: 0;
    }

    .footer_li ol li {
        /* font-size: small; */
        font-size: xx-small;
        margin-right: 1px;
    }

    hr {
        color: black;
    }
}